<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar (search)="getTime($event)" inputmode="search" autocorrect="on" placeholder="Enter as CityName, State" ></ion-searchbar>
  <ion-list>
    <ion-list-header>
      <ion-label>
        Single Selection
      </ion-label>
    </ion-list-header>
  
    
    <ion-item>
      <ion-label>Number of Participants</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="2">2</ion-select-option>
        <ion-select-option value="3">3</ion-select-option>
        <ion-select-option value="4">4</ion-select-option>
        <ion-select-option value="5">5</ion-select-option>
        <ion-select-option value="6">6</ion-select-option>
        <ion-select-option value="7">7</ion-select-option>
        <ion-select-option value="8">8</ion-select-option>
        <ion-select-option value="9">9</ion-select-option>
        <ion-select-option value="10">10</ion-select-option>
      </ion-select>
    </ion-item>
  
  </ion-list>
  <ion-card>
    <img src="https://upload.wikimedia.org/wikipedia/en/4/4d/Shrek_%28character%29.png"/>
    <ion-card-header>
      <ion-card-subtitle>What are you doing in my swamp?</ion-card-subtitle>
      <ion-card-title>Shrek</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      Hello 
    </ion-card-content>
  </ion-card>
</ion-content>
